In [3]:
import pandas as pd
import numpy as np

# load dataset
data_path = "kc_house_data.csv"
df = pd.read_csv(data_path)

# Ignore columns
ignore_cols = ["id", "date", "zipcode"]
y_col = "price"
feature_cols = [c for c in df.columns if c not in ignore_cols + [y_col]]

# Question 1: Mean, min, max, variance
summary = pd.DataFrame({
    "mean": df[feature_cols].mean(),
    "min": df[feature_cols].min(),
    "max": df[feature_cols].max(),
    "variance": df[feature_cols].var(ddof=0)
})

print("Summary stats:")
display(summary)

# Lowest and highest mean and variance
lowest_mean_feat = summary["mean"].idxmin()
highest_mean_feat = summary["mean"].idxmax()
lowest_var_feat  = summary["variance"].idxmin()
highest_var_feat = summary["variance"].idxmax()

print("\nLowest mean:", lowest_mean_feat, summary.loc[lowest_mean_feat, "mean"])
print("Highest mean:", highest_mean_feat, summary.loc[highest_mean_feat, "mean"])
print("Lowest variance:", lowest_var_feat, summary.loc[lowest_var_feat, "variance"])
print("Highest variance:", highest_var_feat, summary.loc[highest_var_feat, "variance"])

# Question 2: Correlation of each feature with the response price
corr = df[feature_cols].corrwith(df[y_col]).sort_values(ascending = False)
corr_table = corr.rename("corr_with_price").to_frame()

print("\nCorrelation with price:")
display(corr_table)

positive = corr[corr > 0].index.tolist()
negative = corr[corr < 0].index.tolist()

print("\nPositively correlated features:", positive)
print("Negatively correlated features:", negative)
print("Highest positive correlation:", corr.idxmax(), corr.max())

Summary stats:

                       mean        min           max      variance
bedrooms           3.370842     0.0000  3.300000e+01  8.649750e-01
bathrooms          2.114757     0.0000  8.000000e+00  5.931238e-01
sqft_living     2079.899736   290.0000  1.354000e+04  8.434947e+05
sqft_lot       15106.967566   520.0000  1.651359e+06  1.715579e+09
floors             1.494309     1.0000  3.500000e+00  2.915745e-01
waterfront         0.007542     0.0000  1.000000e+00  7.484879e-03
view               0.234303     0.0000  4.000000e+00  5.872154e-01
condition          3.409430     1.0000  5.000000e+00  4.234469e-01
grade              7.656873     1.0000  1.300000e+01  1.381639e+00
sqft_above      1788.390691   290.0000  9.410000e+03  6.857029e+05
sqft_basement    291.509045     0.0000  4.820000e+03  1.958636e+05
yr_built        1971.005136  1900.0000  2.015000e+03  8.627573e+02
yr_renovated      84.402258     0.0000  2.015000e+03  1.613387e+05
lat               47.560053    47.1559  4.777760e+01  1.919901e-02
long            -122.213896  -122.5190 -1.213150e+02  1.983170e-02
sqft_living15   1986.552492   399.0000  6.210000e+03  4.697395e+05
sqft_lot15     12768.455652   651.0000  8.712000e+05  7.454837e+08

Lowest mean: long -122.21389640494147
Highest mean: sqft_lot 15106.967565816869
Lowest variance: waterfront 0.0074848791729106
Highest variance: sqft_lot 1715579393.3040266

Correlation with price:

               corr_with_price
sqft_living           0.702035
grade                 0.667434
sqft_above            0.605567
sqft_living15         0.585379
bathrooms             0.525138
view                  0.397293
sqft_basement         0.323816
bedrooms              0.308350
lat                   0.307003
waterfront            0.266369
floors                0.256794
yr_renovated          0.126434
sqft_lot              0.089661
sqft_lot15            0.082447
yr_built              0.054012
condition             0.036362
long                  0.021626

Positively correlated features: ['sqft_living', 'grade', 'sqft_above', 'sqft_living15', 'bathrooms', 'view', 'sqft_basement', 'bedrooms', 'lat', 'waterfront', 'floors', 'yr_renovated', 'sqft_lot', 'sqft_lot15', 'yr_built', 'condition', 'long']
Negatively correlated features: []
Highest positive correlation: sqft_living 0.7020350546118003